<?xml version="1.0"?>

<model>
  <name>Outdoor Cleaner</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>sherlock</name>
    <email>zxy54@Outlook.com</email>
  </author>

  <description>
    Outdoor cleaning robot with dual 2D lidars, diff drive, and depth camera.
  </description>
</model>
